<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan department">
<parameter name="URL" value="http://www.qaclickacademy.com"/>

  <test thread-count="5" name="Personal loan">     
    <classes>
      <class name="testngPackage.S138Testng"/>
      <class name="testngPackage.Test2"/>
      <class name="testngPackage.Test4"/>
      
      
      
      
     </classes>
  </test> 

<test thread-count="5" name="Car loan">     
    <classes>
    
       <class name="testngPackage.Test3">
            <methods>
               <include name="Mobile.*"/>
            </methods>
       </class>
         
    </classes>
  </test>
  
  </suite>